.card{
    max-width: 60rem;
    margin: 20px auto;
}
.card-img-top{
    width: 100%;
    height: 15vw;
    margin: 10px auto;
    object-fit: contain;
}

.stats{
    padding-left: 10px;
    padding-right: 10px;
  }
  .likes, .dislikes{
    margin-right: 10px;
  }

  /* comments */
  

.be-comment-block {
    border: 1px solid #edeff2;
    border-radius: 2px;
    padding: 5px 10px;
    border:1px solid #ffffff;
}

.comments-title {
    font-size: 16px;
    color: #262626;
    margin-bottom: 15px;
    font-family: 'sans-serif';
    text-align: left;
}

.be-img-comment {
    width: 60px;
    height: 60px;
    float: left;
    margin-bottom: 15px;
}

.be-ava-comment {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.be-comment-content {
    margin-left: 80px;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-name {
    font-size: 13px;
    font-family: 'sans-serif';
    text-align: left;
}

.be-comment-content a {
    color: #383b43;
}

.be-comment-content span {
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}

.be-comment-time {
    text-align: right;
}

.be-comment-time {
    font-size: 11px;
    color: #b4b7c1;
}

.be-comment-text {
    font-size: 13px;
    line-height: 18px;
    color: #7a8192;
    display: block;
    background: #f6f6f7;
    border: 1px solid #edeff2;
    padding: 15px 20px 20px 20px;
}
