.sideBar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
  }
  
  .sideBar-body {
    position: relative;
    padding: 10px !important;
    border-bottom: 1px solid #f7f7f7;
    height: 72px;
    margin: 0 !important;
    cursor: pointer;
  }
  
  .sideBar-body:hover {
    background-color: #f2f2f2;
  }
  
  .sideBar-avatar {
    text-align: center;
    padding: 0 !important;
  }
  
  .avatar-icon img {
    border-radius: 50%;
    height: 49px;
    width: 49px;
  }
  
  .sideBar-main {
    padding: 0 !important;
  }
  
  .sideBar-main .row {
    padding: 0 !important;
    margin: 0 !important;
  }
  
  .sideBar-name {
    padding: 10px !important;
  }
  
  .name-meta {
    font-size: 100%;
    padding: 1% !important;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
  }
  
  .sideBar-time {
    padding: 10px !important;
  }
  
  .time-meta {
    text-align: right;
    font-size: 12px;
    padding: 1% !important;
    color: rgba(0, 0, 0, .4);
    vertical-align: baseline;
  }