.card{
    max-width: 50rem;
    text-align: left;
    margin: auto;
}
.fa-user{
    margin-right: 15px;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 50px;
}
.attr{
    margin-right: 15px;
}

.edit{
    text-align: right;
}