.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.post-card{
    transition: all 150ms ease-in-out;
}
.post-card:hover{
    transform: scale(1.02);
    border: 2px solid var(--bs-gray-500);
}
.stats-box{
    position: relative;
}
.followsyou{
    position: absolute;
    bottom: 10px;
}