@{
    ViewData["Title"] = "Profile - SCSP";
}

@section Styles {
    <link href="@Url.Content("~/css/profile.css")" rel="stylesheet" type="text/css" />
}

<div class="text-center">
    <h1 class="display-4">Profile</h1>
        <div class="card mt-5 mb-5 pt-3 pb-3">
            <div class="card-body">
                <h5 class="card-title mt-3 mb-3">
                <i class="fa-regular fa-user"></i>
                Profile</h5>
                <hr/>
                <table>
                <tbody>
                <tr>
                    <td><strong class="attr">First&nbsp;Name:</strong></td>
                    <td>John</td>
                </tr>
                <tr>
                    <td><strong class="attr">Last&nbsp;Name:</strong></td>
                    <td>Doe</td>
                </tr>
                <tr>
                    <td><strong class="attr">Username:</strong></td>
                    <td>johndoe</td>
                </tr>
                <tr>
                    <td><strong class="attr">Bio:</strong></td>
                    <td>Some quick example text to build on the card title and make up the bulk of the card content</td>
                </tr>
                </tbody>
                </table>
                <hr/>
                <div class='edit'>
                    <a href="#" class="btn btn-primary">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Edit Profile</a>
                </div>
            </div>
        </div>
   </div>
