<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCSP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/raffishly" rel="stylesheet">
    @RenderSection("Styles", false)
    <style>

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  text-align: center;
}

.normallinks{
    display: inherit;
}

.adminlinks{
    display: none;
}

    </style>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-nowrap" asp-area="" asp-controller="Home" asp-action="Index"
                style="font-family: 'Raffishly', sans-serif; font-weight: 900;">SCSP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-home"></i>
                                <span class="nav-link-text">Home</span>
                            </a>
                        </li>
                        <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Message" asp-action="Index">
                                <i class="fa fa-comments"></i>
                                <span class="nav-link-text">Messages</span>
                            </a>
                        </li>
                        @* <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                        </li> *@
                         <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Explore" asp-action="Index">
                                <i class="fa fa-search"></i>
                                <span class="nav-link-text">Search</span>
                            </a>
                        </li>
                        <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notification" asp-action="Index">
                                <i class="fa fa-bell"></i>
                                <span class="nav-link-text">Notifications</span>
                            </a>
                        </li>
                        <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Donation" asp-action="Index">
                                <i class="fa fa-dollar"></i>
                                <span class="nav-link-text">Donate</span>
                            </a>
                        </li>
                        <li class="nav-item normallinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">
                                <i class="fa fa-power-off"></i>
                                <span class="nav-link-text">Logout</span>
                            </a>
                        </li>
                        <li class="nav-item adminlinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">User Admin</a>
                        </li>
                        <li class="nav-item adminlinks">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Logout</a>
                        </li>
                    </ul>
                    @{
                        var User = (User)ViewBag.currentuser;
                        if (User != null)
                        {
                            @* profile photo *@
                            <a class="text-decoration-none text-dark" asp-controller="Profile" asp-action="Index">
                                <div class="nav-item px-2">
                                    <img src='@User.Photo'
                                    alt="profile photo" class="img-fluid"
                                    style="width: 46px; height: 46px; object-fit: cover; z-index: 1; border-radius: 50%; border: 1px solid var(--bs-gray-500);">
                                    Profile
                                </div>
                            </a>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-fixed">
        <div class="container">
            &copy; 2022 - SCSP
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
