@model scsp.Models.User
@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Social Content Sharing Platform</h1>
    <h1 class="display-5">Login</h1>
    @if (@ViewData["message"] != null)
    {
        string? alert = (String?)ViewData["alert"];
        alert = alert!=null ? alert : "danger";
        <div class="alert alert-@alert alert-dismissible fade show" role="alert">
            <h5>@ViewData["message"]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" id="login-form">
            <div class="form-group">
                <label asp-for="UserID" class="control-label">Username</label>
                <span class="text text-danger">*</span>
                <input class="form-control" required maxlength="32" minlength="1" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <span class="text text-danger">*</span>
                <input class="form-control" type="password" required minlength="8" name="password" id="password"/>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br><hr><br>
<div class="text-center">
    Not an user yet? <a asp-action="Register">Register</a>
</div>
