@{
    ViewData["Title"] = "Login - SCSP";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Social Content Sharing Platform</h1>
    <h1 class="display-5">Login</h1>
    
</div>
