@model scsp.ViewModels.AuthLoginViewModel
@{
    ViewData["Title"] = Model != null ? Model.Title : "L";
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Social Content Sharing Platform</h1>
    <h1 class="display-5">Login</h1>
    @if (Model != null && ! String.IsNullOrEmpty(Model.AlertMsg))
    {
        string alert = Model.AlertType;
        <div class="alert alert-@alert alert-dismissible fade show" role="alert">
            <h5>@Model.AlertMsg</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" id="login-form">
            <div class="form-group">
                <label asp-for="User.UserID" class="control-label">Username</label>
                <span class="text text-danger">*</span>
                <input asp-for="User.UserID" class="form-control" required maxlength="32" minlength="1" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <span class="text text-danger">*</span>
                <input asp-for="password" class="form-control" type="password" required minlength="8" name="password" id="password"/>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br><hr><br>
<div class="text-center">
    Not an user yet? <a asp-action="Register">Register</a>
</div>
