@model scsp.ViewModels.AuthRegisterViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    @if (!String.IsNullOrEmpty(@Model.AlertMsg))
    {
        string alert = @Model.AlertType;
        <div class="alert alert-@alert alert-dismissible fade show" role="alert">
            <h5>@Model.AlertMsg</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Register</h3>
                            </div>
                        </div>
                        <form asp-action="Register" id="register-form" class="signin-form">
                            <div class="form-group mt-3">
                                <input placeholder="Username" type="text" class="form-control" required maxlength="32" minlength="1" name="username" id="username">
                                <label class="form-control-placeholder" for="username">Username <span class="text text-danger">*</span></label>                                
                            </div>
                            <div class="form-group">
                                <input id="password" type="password" class="form-control" required minlength="8" name="password" placeholder="Password">
                                <label class="form-control-placeholder" for="password">Password <span class="text text-danger">*</span></label>
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                <span class="password-minlength">Password should be atleast 8 characters</span>
                            </div>
                            <div class="form-group mt-3">
                                <input placeholder="First Name" type="text" class="form-control" required maxlength="32" minlength="1" name="FName" id="FName">
                                <label class="form-control-placeholder" for="FName">First Name <span class="text text-danger">*</span></label>                                
                            </div>
                            <div class="form-group mt-3">
                                <input placeholder="Last Name" type="text" class="form-control" maxlength="32" name="LName" id="LName">
                                <label class="form-control-placeholder" for="FName">Last Name</label>                                
                            </div>
                            <div class="form-group mt-3">
                                <input placeholder="Bio" type="text" class="form-control" maxlength="250" name="Bio" id="Bio">
                                <label class="form-control-placeholder" for="FName">Bio</label>                                
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
                            </div>
                        </form>
                        <p class="text-center">Already a member? <a asp-action="Login">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Register" id="register-form">
            <div class="form-group">
                <label asp-for="User.UserID" class="control-label">Username</label>
                <span class="text text-danger">*</span>
                <input asp-for="User.UserID" class="form-control" required maxlength="32" minlength="1" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <span class="text text-danger">*</span>
                <input asp-for="password" class="form-control" type="password" required minlength="8" name="password" id="password"/>
            </div>
            <div class="form-group">
                <label asp-for="User.FName" class="control-label">First Name</label>
                <span class="text text-danger">*</span>
                <input asp-for="User.FName" class="form-control" required maxlength="32" name="FName" id="FName"/>
            </div>
            <div class="form-group">
                <label asp-for="User.LName" class="control-label">Last Name</label>
                <input asp-for="User.LName" class="form-control" maxlength="32" name="LName" id="LName"/>
            </div>
            <div class="form-group">
                <label asp-for="User.Bio" class="control-label"></label>
                <textarea asp-for="User.Bio" class="form-control" type="text" maxlength="250" form="register-form" name="Bio" id="Bio"></textarea>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br><hr><br>
<div class="text-center">
    Already an user? <a asp-action="Login">Login</a>
</div> *@

@section Scripts {
    
}
