@model scsp.ViewModels.AuthRegisterViewModel

@{
    ViewData["Title"] = Model.Title;
}

@section Styles {
    <link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
}


<div class="text-center">
    <h1 class="display-4">Social Content Sharing Platform</h1>
    <h1 class="display-5">Register</h1>
    @if (!String.IsNullOrEmpty(@Model.AlertMsg))
    {
        string alert = @Model.AlertType;
        <div class="alert alert-@alert alert-dismissible fade show" role="alert">
            <h5>@Model.AlertMsg</h5>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" id="register-form">
            <div class="form-group">
                <label asp-for="User.UserID" class="control-label">Username</label>
                <span class="text text-danger">*</span>
                <input asp-for="User.UserID" class="form-control" required maxlength="32" minlength="1" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label">Password</label>
                <span class="text text-danger">*</span>
                <input asp-for="password" class="form-control" type="password" required minlength="8" name="password" id="password"/>
            </div>
            <div class="form-group">
                <label asp-for="User.FName" class="control-label">First Name</label>
                <span class="text text-danger">*</span>
                <input asp-for="User.FName" class="form-control" required maxlength="32" name="FName" id="FName"/>
            </div>
            <div class="form-group">
                <label asp-for="User.LName" class="control-label">Last Name</label>
                <input asp-for="User.LName" class="form-control" maxlength="32" name="LName" id="LName"/>
            </div>
            <div class="form-group">
                <label asp-for="User.Bio" class="control-label"></label>
                <textarea asp-for="User.Bio" class="form-control" type="text" maxlength="250" form="register-form" name="Bio" id="Bio"></textarea>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br><hr><br>
<div class="text-center">
    Already an user? <a asp-action="Login">Login</a>
</div>

@section Scripts {
    
}
